.postContainer {
	display: flex;
	justify-content: center;
}

.postContainer > * {
	width: 500px;
}

a,
a:visited,
a:hover,
a:active {
	color: antiquewhite;
}

.title {
	margin-bottom: 8px;
	margin-top: 12px;
}

.commentAuthor {
	font-size: 10px;
	margin: 16px 0 4px 0;
}

.interactButton {
	font-size: 10px;
	margin: 8px 0;
	padding: 4px;
}

input,
textarea {
	background-color: antiquewhite;
	border-style: none;
	height: 1.5rem;
	width: 100%;
}

textarea {
	height: 5rem;
}

.imageInput {
	background-color: rgb(21, 87, 153);
}

button,
.updateButton {
	margin-top: 12px;
}

.updateButtons {
	display: flex;
	gap: 12px;
}
