.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container > * {
	text-align: left;
	max-width: 300px;
	width: 100%;
}

label {
	display: block;
	margin: 12px 0 4px 0;
}

button {
	margin-top: 12px;
}

.signUp {
	margin-top: 36px;
}
