.page {
	display: flex;
	justify-content: center;
}
.page > * {
	width: 500px;
}

.container {
	border-bottom: 2px solid antiquewhite;
	display: flex;
	flex-direction: row;
	gap: 24px;
	max-width: 500px;
	padding: 24px 0;
}

.title {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-decoration: none;
	text-overflow: ellipsis;
}
