.voteContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.score {
	align-items: center;
	display: flex;
	justify-content: center;
	padding: 4px;
}

.button {
	margin: 0;
	padding: 8px;
}
